{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}?05-11-2023">
    <link rel="stylesheet" href="{% static 'css/form.css' %}?07-11-2023">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'images/icon-logo.png' %}" type="image/x-icon">

</head>

<body>

    <header class="header-container">
        {% if user.is_authenticated %}
        <p class="name_user">Bem-vindo, {{ user.username }}</p>
        {% endif %}
        <a href="{% url 'home' %}" class="logo-container">
            <img src="../../static/images/logo.svg" class="logo-image" alt="Logomarca Equie Dallas Cabeleireiro">
        </a>
    </header>

    <nav class="menu-side">
        <div class="btn-expand" onclick="document.querySelector('.menu-side').classList.toggle('show')">
            <i class="bi bi-list"></i>
        </div>
        <div class="container-ul">
            <ul>
                <li class="iten-menu">
                    <a href="{% url 'home' %}">
                        <span class="icon"><i class="bi bi-house"></i></span>
                        <span class="txt-link">Home</span>
                    </a>
                </li>
                <li class="iten-menu">
                    <a href="{% url 'create_scheduling' %}">
                        <span class="icon"><i class="bi bi-calendar"></i></span>
                        <span class="txt-link">Agendamentos</span>
                    </a>
                </li>

            </ul>
            <div class="iten-menu">

                <a href="{% url 'logout' %}">
                    <span class="icon"><i class="bi bi-power"></i></span>
                    <span class="txt-link">Logout</span>
                </a>
            </div>

        </div>



    </nav>
    <form method="post" action="{% url 'create_scheduling' %}" class="meu-formulario">
        <h1 class="title-form">Agendar serviços</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn" type="submit">Agendar horário</button>
    </form>
</body>

</html>