* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro;
}

body {
    height: 100vh;
    overflow: hidden;

    background-image: url('../images/background-home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #343A40;
}

/* Header */

.header-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logo-container {
    display: block;
    max-width: 120px;
}

.logo-container .logo-image {
    display: block;
    max-width: 100%;
}

/* SideBar */

.menu-side {
    width: 80px;
    height: 100%;
    background-color: #343A40;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #9A354A;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2S;
    z-index: 2;
}

.menu-side.show {
    width: 300px;
}

.btn-expand {
    width: 100%;
    padding-left: 10px;
}

.btn-expand>i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.container-ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.iten-menu {
    transition: .2s;
}

.iten-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    /* margin-bottom: 10px; */
    margin-top: 20px;
    line-height: 40px;
}


p.name_user {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    margin-right: 20px;
    margin-top: 20px;
}

.iten-menu a .txt-link {
    margin-left: 40px;
}

.iten-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

.iten-menu:hover {
    background-color: #9A354A;
}


.off {
    margin-top: 500px;
}

/* Main container */

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0;
    position: relative;
    /* background-color: tomato; */
}

/* Tabela home */

.table-container {
    width: auto;
    max-height: 350px;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

table {
    width: 600px;
    height: auto;
    color: #fff;
    border-radius: 0.2em;
    border-collapse: collapse;
    font-family: Source Sans Pro;
    position: relative;
}

th {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #343A40;
    border-bottom: 1.5px solid #3E454D;
    text-align: initial;
    position: sticky;
    top: 0;
}

td, th {
    padding: 16px;
}

td {
    border-bottom: 1px solid #3E454D;
}

table tr:nth-child(odd) {
    background-color: #27292b;
}

table tr:nth-child(even) {
    background-color: #343A40;
}




/* -----------------------------Radios----------------------------- */

.slider {
    margin: 0 auto;
    height: 500;
    width: 800px;
    overflow: hidden;
}

/* ------------------------------Footer-------------------------------------- */

footer {
    background-color: #343A40;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    /* Use 'fixed' para manter o rodapé no final da janela de visualização */
    bottom: 0;
    /* Fixa o rodapé na parte inferior da janela */
    width: 100%;
    /* Garante que o rodapé ocupe a largura total da janela */
    z-index: 1;
}