{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon-logo.png' %}" type="image/x-icon">

    
</head>

<body class="login-page">

    <div class="login-box">
        <div class="login-logo">
            <h1>
                <img src="/static/images/logo.png" alt="Logo Animada" id="logo">
            </h1>

        </div>
        <div class="card">
            <div class="card-body">
                <p class="login-box-msg">Welcome</p>
                <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Username" name="username" class="form-control" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user">

                                </span>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="input-group mb-3 ">
                        <input type="password" id="password" placeholder="Password" name="password" class="form-control"
                            maxlength="32" autocomplete="off" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock">

                                </span>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <input type="submit" value="Log in" onclick="return validarSenha()"
                        class="btn btn-primary btn-block">
                    <div class="sign-up-container">
                        <a href="{% url 'register' %}" class="sign-up">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>